@font-face {

	font-family: 'Orion Pax';
	src: url(resources/fonts/orionpax.otf) format(otf);
	
}

@font-face {

	font-family: 'Raleway';
	src: url(resources/fonts/screamreal.ttf) format(ttf);	
	
}

@font-face {

	font-family: 'Impact', Charcoal, sans-serif;	
	
}

@font-face {

	font-family: 'Verdana', Geneva, sans-serif;
	
}

@font-face {

	font-family: 'Code';
	src: url(resources/fonts/CODE Light.otf) format(otf);	
	
}

@font-face {

	font-family: 'Aero';
	src: url(resources/fonts/Aero.ttf) format(ttf);	
	
}

@font-face {

	font-family: 'Ethnocentric';
	src: url(resources/fonts/ethnocentric rg.ttf) format(ttf);	
	
}

@font-face {

	font-family: 'Existence';
	src: url(resources/fonts/Existence-Light.otf) format(otf);	
	
}

@font-face {

	font-family: 'Roboto';
	src: url(resources/fonts/Roboto/Roboto-Medium.ttf) format(ttf);	
	
}

html, body {
	
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #808080;
	font-family: 'Verdana';
	
}

body {
	
	background-color: #000000;
	
}

.container {
	
	background-color: #222;
	background-image: url(resources/textcontainer1.jpg);
	width: 900px;
	height: 100%;
	padding: 0;
	position: static;
	margin: auto;
	color: #808080;
	
}

.navigation {
	
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #f6ff00;
	
}

.navigation li {
	
	float: left;
	
}

.navigation li a {
	
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	transition: 0.5s;
	font-size: 25px;
	font-family: 'Impact';
	
}

.active, .navigation li a:hover {
	
	background-color: #ffb400;
	
}

h1,h2,h3,h4 {
	
	text-align:center;
	padding: 0 5px;
	font-family: 'Impact';
	color: white;
	
}

h1 {
	
	font-size: 48px;
	font-family: 'Impact';
	color: Orange;
	
}

h2 {
	
	font-size: 24px;
	font-family: 'Verdana';
	margin: auto;
	padding: 10px 5%;
	float: center;
	color: Yellow;
	
}

h3 {
	
	font-size: 12px;
	font-family: 'Verdana';
	margin: auto;
	padding: 10px 5%;
	float: center;
	color: #808080;
	
}

.content {
	
	float: left;
	margin: auto;
	padding: 10px 5%;
	width: 40%;
	color: #adadad;
	
}

.widecontent {
	
	float: left;
	margin: auto;
	padding: 10px 5%;
	width: 90%;
	color: #adadad
	
}

img {
	
	width: 100%;
	
}

footer {
	
	width: 100%;
	height: 4%;
	background-color: #333;
	color: #777;
	margin: 0;
	padding: 10px 0;
	position: static;
	
}

.footer-left {
	
	width: 100%;
	height: 4%;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	text-align: left;
	
}

.footer-center {
	
	width: 100%;
	height: 4%;
	margin: auto;
	padding: 10px 0;
	position: absolute;
	text-align: center;
	
}

.footer-right {
	
	width: 100%;
	height: 4%;
	margin: 0;
	padding: 10px 0;
	center: 180px;
	position: absolute;
	
}

.footer {
	
	margin: 0;
	padding-left:10px;
	width: 900px;
	margin: auto;
	float: bottom;
	
}

a, a:visited {
	
	color: #adadad;
	
}